<div class="container">
    <div class="row button-bar">
        <div class="col-12">
              <button class="btn btn-danger btn-lg btn-block" (click)="unselectColor()" *ngIf="colors.length"><= Backspace</button>
        </div>
      </div>
  <div class="row deck">
      <div class="col-2" *ngFor="let color of colors">
        <img src="/assets/{{color}}.png" class="rounded-circle selected-image">
      </div>
  </div>

  <div class="row button-bar">
      <div class="col-12">
            <button class="btn btn-success btn-lg btn-block" (click)="testSelection()" *ngIf="colors.length === 5">OK =></button>  
      </div>
    </div>

  <div class="row control">
        <div class="col-4" *ngFor="let color of colorPool" (click)="selectColor(color)">
          <img src="/assets/{{color}}.png" class="rounded-circle selected-image">
        </div>
  </div>



</div>


